
td {
	font-size: 9pt;	line-height:150%;
}
a:hover {
	font-size: 9pt;	color: #F19E1B;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #FFFFFF;
	border:'1px' 'soild' '#000000'; outline-color:#000000;
}
image{
 border-color:#000000;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #ffffff;	
	background-color: #525C87;cursor: hand;padding:1px;height:19px;
	border-right:1px solid #666666;
	border-bottom: 1px solid #666666
}
.txt_grey {
	font-family: "宋体";
	font-size: 10pt;
	color: #EEEEEE;
	width:150;
	background-color:#525C87;
	/*Filter: Alpha(Opacity=1);*/
}
.word{
	color:#BABECF;
}
input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.search  { font-family: 宋体; font-size: 9pt; color: #000000; background-color: #EEEEEE; 
           border: 1px Hidden #000000; }
.tableBorder {
	border: #DFE1EB 1px solid
}
.tableBorder_B {
	border: #DFE1EB 1px solid;
	border-left-style:none;
	border-right-style:none;
	border-Top-style:none;
}
.tableBorder_LRB2{
	     border:1px solid #A0C3DA;
	    border-top-style:none;
	    }
.tableBorder_LRT {
	border: #7A84AF 1px solid;
	border-Bottom-style:none;
	border-Top-style:none;
	border-Left-style:none;
}
.bg_gradual{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#DFE1EB', endColorStr='#FFFFFF', gradientType='0')
}
/* 栏目导航发光阴影效果的css定义 */
.Glow {
	filter: glow(color=D4F4FF, strength=1) dropshadow(color=ffffff, offx=1, offy=1,);
	WIDTH: 100%;
	COLOR: #0066CC;
	LINE-HEIGHT: 20px;
}
.GlowLeft {
	filter: glow(color=ffffff, strength=1) dropshadow(color=ffffff, offx=1, offy=1,);
	WIDTH: 100%;
	COLOR: #CC3333;
	LINE-HEIGHT: 20px;
}